In [ ]:
# https://www.udemy.com/course/learning-python-for-data-analysis-and-visualization/
# https://www.practicaldatascience.org/html/class_schedule.html

# Introduction to data analysis and visualization using Python
* Introduction to Python
* Installation Setup
* Learning Numpy
* Introduction to Pandas
* Data Processing
* Statistical Data Analysis
* Data Visualization
* Machine Learning

# Introduction to Python

# Installation Setup

### The most up-to-date and current source code, binaries, documentation, news, etc., is available on the official website of Python https://www.python.org/

## the easier way of installing Python is to install Anaconda https://docs.anaconda.com/anaconda/install/

# Learning Numpy

# Introduction to Pandas

# Data Processing
* Big Data
* Data input
* Processing Web Data

# Statistical Data Analysis

In [4]:
import pandas as pd
# World bank development indicator -- Ethiopia
# https://github.com/ksopyla/Pandas_Worldbank_GDP
wbdid = pd.read_csv("wbdi/51809288-e245-4ece-8efa-90b4a419bd85_Data.csv")

In [6]:
# show the columns
wbdid.columns

Index(['Country Name', 'Country Code', 'Series Name', 'Series Code',
       '1990 [YR1990]', '2000 [YR2000]', '2011 [YR2011]', '2012 [YR2012]',
       '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]', '2016 [YR2016]',
       '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]', '2020 [YR2020]'],
      dtype='object')

In [7]:
wbdid.head()

,Country Name,Country Code,Series Name,Series Code,1990 [YR1990],2000 [YR2000],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,Ethiopia,ETH,"Population, total",SP.POP.TOTL,47887865,66224804,90139927,92726971,95385785,98094253,100835458,103603501,106400024,109224559,112078730,..
1,Ethiopia,ETH,Population growth (annual %),SP.POP.GROW,3.43186437219509,2.88267254878244,2.81261034549877,2.82961721422517,2.82701836060576,2.79992186176293,2.75612778784043,2.70810630355162,2.66346797807375,2.62001348207265,2.57956334803926,..
2,Ethiopia,ETH,Surface area (sq. km),AG.SRF.TOTL.K2,1104300,1104300,1104300,1104300,1104300,1104300,1104300,1104300,1104300,1104300,..,..
3,Ethiopia,ETH,Population density (people per sq. km of land ...,EN.POP.DNST,47.887865,66.224804,90.139927,92.726971,95.385785,98.094253,100.835458,103.603501,106.400024,109.224559,..,..
4,Ethiopia,ETH,Poverty headcount ratio at national poverty li...,SI.POV.NAHC,..,..,..,..,..,..,23.5,..,..,..,..,..

In [11]:
import numpy as np
# replace '..' with NAN
wbdid.replace('..',np.nan,inplace=True)

In [12]:
wbdid.head()

,Country Name,Country Code,Series Name,Series Code,1990 [YR1990],2000 [YR2000],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,Ethiopia,ETH,"Population, total",SP.POP.TOTL,47887865,66224804,90139927,92726971,95385785,98094253,100835458,103603501,106400024,109224559,112078730,NaN
1,Ethiopia,ETH,Population growth (annual %),SP.POP.GROW,3.43186437219509,2.88267254878244,2.81261034549877,2.82961721422517,2.82701836060576,2.79992186176293,2.75612778784043,2.70810630355162,2.66346797807375,2.62001348207265,2.57956334803926,NaN
2,Ethiopia,ETH,Surface area (sq. km),AG.SRF.TOTL.K2,1104300,1104300,1104300,1104300,1104300,1104300,1104300,1104300,1104300,1104300,NaN,NaN
3,Ethiopia,ETH,Population density (people per sq. km of land ...,EN.POP.DNST,47.887865,66.224804,90.139927,92.726971,95.385785,98.094253,100.835458,103.603501,106.400024,109.224559,NaN,NaN
4,Ethiopia,ETH,Poverty headcount ratio at national poverty li...,SI.POV.NAHC,NaN,NaN,NaN,NaN,NaN,NaN,23.5,NaN,NaN,NaN,NaN,NaN

# Data Visualization

In [13]:
# https://www.tutorialspoint.com/python_data_science/python_box_plots.htm

# Machine Learning
* Introduction to ML 
* Machine Learning with sckikit-learn